.profile-picture__container {
  min-width: 430px;
  padding: 34px 36px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .profile-picture__container {
    min-width: 282px;
  }
}
