.show-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear, visibility 0s linear;
}

@media screen and (max-width: 600px) {
  .show-picture {
    top: 30%;
  }
}
