@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../vendor/fonts/Inter-Thin.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-Thin.woff?v=3.19) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../vendor/fonts/Inter-ThinItalic.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-ThinItalic.woff?v=3.19) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../vendor/fonts/Inter-ExtraLight.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-ExtraLight.woff?v=3.19) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../vendor/fonts/Inter-ExtraLightItalic.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-ExtraLightItalic.woff?v=3.19) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../vendor/fonts/Inter-Light.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-Light.woff?v=3.19) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../vendor/fonts/Inter-LightItalic.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-LightItalic.woff?v=3.19) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../vendor/fonts/Inter-Regular.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-Regular.woff?v=3.19) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../vendor/fonts/Inter-Italic.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-Italic.woff?v=3.19) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../vendor/fonts/Inter-Medium.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-Medium.woff?v=3.19) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../vendor/fonts/Inter-MediumItalic.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-MediumItalic.woff?v=3.19) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../vendor/fonts/Inter-SemiBold.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-SemiBold.woff?v=3.19) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../vendor/fonts/Inter-SemiBoldItalic.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-SemiBoldItalic.woff?v=3.19) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../vendor/fonts/Inter-Bold.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-Bold.woff?v=3.19) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../vendor/fonts/Inter-BoldItalic.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-BoldItalic.woff?v=3.19) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../vendor/fonts/Inter-ExtraBold.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-ExtraBold.woff?v=3.19) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../vendor/fonts/Inter-ExtraBoldItalic.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-ExtraBoldItalic.woff?v=3.19) format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../vendor/fonts/Inter-Black.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-Black.woff?v=3.19) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../vendor/fonts/Inter-BlackItalic.woff2?v=3.19) format("woff2"),
    url(../vendor/fonts/Inter-BlackItalic.woff?v=3.19) format("woff");
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
img,
nav,
ul,
li,
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}

input {
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  left: 0;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: transparent 0 0 5px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(87, 85, 85, 0.5);
  border-radius: 10px;
}
